Story 기준으로

- who, whom whose, what, which, why, where, when, how
- do you, are you, have you

Count

In [36]:
import pandas as pd

In [37]:
desc_df = pd.read_excel("../data/desc.xlsx", encoding='utf-8')

In [38]:
desc_df.head()

,project_id,project_address,desc_total,video_desc,risk_desc
0,804380059,/projects/1552697291/ufactory-3d-printing-shop/,Follow us on Facebook and Twitter 횂혻and pl...,my name is Matt Elkins not here to tell you a...,Risks and challenges The biggest challenge of...
1,1560420632,/projects/941562770/nervous-dating-dating-for-...,"""I get very nervous when I think someone is f...",introverts the idea of going on the site can ...,Risks and challenges Fulfilment of your 'free...
2,278626358,/projects/703843051/messenger-rock/,"Hi, do you feel an inner hatred that you wish...",NaN,Risks and challenges The rock quality. Learn ...
3,907761690,/projects/1407693875/wind-turbine-phone-charge...,The goal of my project is to build a wind tur...,NaN,Risks and challenges The risks and challenges...
4,1512099429,/projects/358359447/crash-surveillance-drone-csd/,The project will consist of building a protot...,NaN,Risks and challenges The initial project is t...

In [39]:
import math

def preprocessor(text):
    if (isinstance(text, float) == True) or (isinstance(text, int) == True):
        text = None
    else:
        text = text.encode('ascii',errors='ignore')
        
    return text

In [40]:
def questionary_tense_counter(text):
    
    tense_language = ['who', 'whom', 'whose', 'what', 'which', 'why', 'where','when', 'how', 'do you', 'are you', 'have you']
    
    count = 0
    
    for tense_lag in tense_language:
        count += text.split().count(tense_lag)
        
    return count

In [41]:
def get_word_counter(text):
    wordCounter = {}
    
    if text == None:
        return wordCounter

    text = text.replace(',','').replace('\'','').replace('.','').lower()
    word_list = text.split()

    for word in word_list:
        if word not in wordCounter:
            wordCounter[word] = 1
        else:
            wordCounter[word] = wordCounter[word] + 1
            
    questionary_tense = questionary_tense_counter(text)
   
    return wordCounter, questionary_tense

In [42]:
import tqdm

word_count_list = []

for i, r in tqdm.tqdm(desc_df.iterrows(), total=desc_df.shape[0]):
    
    word_count_info = {}    
    word_count_info['project_id'] = r['project_id']    
    word_count_info['project_address'] = r['project_address']
    
    desc = r['desc_total']
    desc = preprocessor(desc)        
    
    if desc == None:
        word_count_info['desc_total'] = desc
        word_count_info['desc_total_questionary_count'] = None
        word_count_info['desc_total_questionary_ratio'] = None
        word_count_info['desc_total_word_count'] = None
    else:
        word_count_dict, questionary_tense = get_word_counter(desc)
        word_count_info['desc_total'] = desc   
        word_count_info['desc_total_questionary_count'] = questionary_tense        
        word_count_info['desc_total_questionary_ratio'] = questionary_tense/float(sum(word_count_dict.values()))        
        word_count_info['desc_total_word_count'] = sum(word_count_dict.values())
    
    video_desc = r['video_desc']
    video_desc = preprocessor(video_desc)     
    
    if video_desc == None:
        word_count_info['video_desc'] = video_desc        
        word_count_info['video_desc_word_count'] = None
        word_count_info['video_desc_questionary_count'] = None
        word_count_info['video_desc_questionary_ratio'] = None
        
    else:
        word_count_dict, questionary_tense = get_word_counter(video_desc)
        word_count_info['video_desc'] = video_desc        
        word_count_info['video_desc_word_count'] = sum(word_count_dict.values())
        word_count_info['video_desc_questionary_count'] = questionary_tense
        word_count_info['video_desc_questionary_ratio'] = questionary_tense/float(sum(word_count_dict.values()))

    risk_desc = r['risk_desc']    
    risk_desc = preprocessor(risk_desc) 
    word_count_info['risk_desc'] = risk_desc
        
    word_count_list.append(word_count_info)

100%|██████████| 7571/7571 [00:08<00:00, 925.19it/s]

In [43]:
word_count_df = pd.DataFrame(word_count_list)

In [44]:
word_count_df.head()

,desc_total,desc_total_questionary_count,desc_total_questionary_ratio,desc_total_word_count,project_address,project_id,risk_desc,video_desc,video_desc_questionary_count,video_desc_questionary_ratio,video_desc_word_count
0,Follow us on Facebook and Twitter and plea...,12.0,0.022727,528.0,/projects/1552697291/ufactory-3d-printing-shop/,804380059,Risks and challenges The biggest challenge of...,my name is Matt Elkins not here to tell you a...,9.0,0.020362,442.0
1,"""I get very nervous when I think someone is f...",13.0,0.017711,734.0,/projects/941562770/nervous-dating-dating-for-...,1560420632,Risks and challenges Fulfilment of your 'free...,introverts the idea of going on the site can ...,2.0,0.017241,116.0
2,"Hi, do you feel an inner hatred that you wish...",1.0,0.015385,65.0,/projects/703843051/messenger-rock/,278626358,Risks and challenges The rock quality. Learn ...,None,NaN,NaN,NaN
3,The goal of my project is to build a wind tur...,2.0,0.007782,257.0,/projects/1407693875/wind-turbine-phone-charge...,907761690,Risks and challenges The risks and challenges...,None,NaN,NaN,NaN
4,The project will consist of building a protot...,0.0,0.000000,105.0,/projects/358359447/crash-surveillance-drone-csd/,1512099429,Risks and challenges The initial project is t...,None,NaN,NaN,NaN

In [45]:
word_count_df.columns

Index([u'desc_total', u'desc_total_questionary_count',
       u'desc_total_questionary_ratio', u'desc_total_word_count',
       u'project_address', u'project_id', u'risk_desc', u'video_desc',
       u'video_desc_questionary_count', u'video_desc_questionary_ratio',
       u'video_desc_word_count'],
      dtype='object')

In [46]:
word_count_df = word_count_df[['project_id', 'project_address', 'desc_total', 'video_desc', 'risk_desc', 
                               'desc_total_questionary_count','desc_total_questionary_ratio','desc_total_word_count',
                               'video_desc_questionary_count','video_desc_questionary_ratio', 'video_desc_word_count']]

In [47]:
word_count_df.head()

,project_id,project_address,desc_total,video_desc,risk_desc,desc_total_questionary_count,desc_total_questionary_ratio,desc_total_word_count,video_desc_questionary_count,video_desc_questionary_ratio,video_desc_word_count
0,804380059,/projects/1552697291/ufactory-3d-printing-shop/,Follow us on Facebook and Twitter and plea...,my name is Matt Elkins not here to tell you a...,Risks and challenges The biggest challenge of...,12.0,0.022727,528.0,9.0,0.020362,442.0
1,1560420632,/projects/941562770/nervous-dating-dating-for-...,"""I get very nervous when I think someone is f...",introverts the idea of going on the site can ...,Risks and challenges Fulfilment of your 'free...,13.0,0.017711,734.0,2.0,0.017241,116.0
2,278626358,/projects/703843051/messenger-rock/,"Hi, do you feel an inner hatred that you wish...",None,Risks and challenges The rock quality. Learn ...,1.0,0.015385,65.0,NaN,NaN,NaN
3,907761690,/projects/1407693875/wind-turbine-phone-charge...,The goal of my project is to build a wind tur...,None,Risks and challenges The risks and challenges...,2.0,0.007782,257.0,NaN,NaN,NaN
4,1512099429,/projects/358359447/crash-surveillance-drone-csd/,The project will consist of building a protot...,None,Risks and challenges The initial project is t...,0.0,0.000000,105.0,NaN,NaN,NaN

In [48]:
word_count_df.to_excel('questionary_tense_count.xlsx')

# Try2

In [50]:
subtitle_df = pd.read_excel("Speech Script.xlsx", encoding='utf-8')

In [51]:
subtitle_df.head()

   project_id                                    combined_script
0   804380059  hello Kickstarter my name is Matt Elkins and I...
1  1940344600  sentry probe combines separate technologies in...
2   128158233  if you live in a big city chances are you've t...
3  1937578990  yeah you're not very good you have to make a c...
4    98129167  hey guys my name is Dustin I'm Allison and I s...

In [52]:
import tqdm

word_count_list = []

for i, r in tqdm.tqdm(subtitle_df.iterrows(), total=subtitle_df.shape[0]):

    word_count_info = {}    
    word_count_info['project_id'] = r['project_id']    
    
    desc = r['combined_script']
    desc = preprocessor(desc)        
    
    if desc == None:
        word_count_info['subtitle_stripped'] = desc
        word_count_info['subtitle_word_count'] = None
        word_count_info['subtitle_questionary_count'] = None
        word_count_info['subtitle_questionary_ratio'] = None        
    else:
        word_count_dict, questionary_tense = get_word_counter(desc)        
        word_count_info['subtitle_stripped'] = desc        
        word_count_info['subtitle_word_count'] = sum(word_count_dict.values())
        word_count_info['subtitle_questionary_count'] = questionary_tense
        word_count_info['subtitle_questionary_ratio'] = questionary_tense/float(sum(word_count_dict.values()))        
    
    word_count_list.append(word_count_info)

100%|██████████| 2432/2432 [00:01<00:00, 1541.12it/s]

In [53]:
word_count_df = pd.DataFrame(word_count_list)

In [54]:
word_count_df = word_count_df[['project_id','subtitle_stripped','subtitle_questionary_count','subtitle_questionary_ratio','subtitle_word_count']]

In [55]:
word_count_df.head()

,project_id,subtitle_stripped,subtitle_questionary_count,subtitle_questionary_ratio,subtitle_word_count
0,804380059,hello Kickstarter my name is Matt Elkins and I...,11,0.022634,486
1,1940344600,sentry probe combines separate technologies in...,2,0.011561,173
2,128158233,if you live in a big city chances are you've t...,7,0.020408,343
3,1937578990,yeah you're not very good you have to make a c...,0,0.000000,47
4,98129167,hey guys my name is Dustin I'm Allison and I s...,11,0.016467,668

In [56]:
word_count_df.to_excel('speech_script_questionary_tense_count.xlsx')